name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Build cs3
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build

      - name: Upload cs3
        uses: actions/upload-artifact@v4
        with:
          name: cs3
          path: build/*.cs3
