name: Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Build cs3
        run: |
          gradle buildCs3

      - name: Upload cs3
        uses: actions/upload-artifact@v4
        with:
          name: cs3
          path: build/libs/*.cs3
